
.w1{
    background-color: #000000;
}

.c1{
    padding-top: 30px;
}

.slogan{
    color: white;
    text-align: center;
}

.moto{
    padding-top: 50px;
}

.Dance{
    width: 100%;
    padding-top: 30px;

}

.footer{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    background-color: #ffffff;
    color: #000000;
}

.copy{
    text-align: center;
}

.btnchimp{
    color: #000000;
}

.survey{
    padding-left: 50px;
}

.emailt{
    color: white;
}

.chip {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .github-corner svg {
    z-index: 1000;
}

.vertical-timeline-element-content {
    color: black;
}

.vertical-timeline-element--work .vertical-timeline-element-content {
    border-top: 3px solid #000000;
}

.vertical-timeline-element--education .vertical-timeline-element-content {
    border-top: 3px solid #e91e63;
}

.how{
    text-align: center;
}

.w2{
    background-color: #ffffff;
}

.w3{
    background-color: #000000;
}