
.w1{
    background-image: url("images/img.png");
    background-repeat: no-repeat;
    background-color: #464646;
}

.c1{
    padding-top: 30px;    
    width: auto ;
    max-width: 100% ;
    height: auto;
}

.slogan{
    font-size:5vw;
    color: white;
    text-align: center;
}

.moto{
    font-size:8vw;
    padding-top: 50px;
}

.Dance{
    width: 100%;
    padding-top: 30px;

}

.footer{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    background-color: #ffffff;
    color: #000000;
}

.copy{
    text-align: center;
}
